Repository juliehung/totoro-version: changes, and which GitLab CI jobs are due for each by the changed paths.
All: checkLint, buildByGradle, buildByWebpack, testRegular

checkLint:
  stage: check
  image: node:12.16.3-stretch
  script:
  - npm install
  - npm run lint

buildByGradle:
  stage: build
  image: openjdk:8-jdk-stretch
  script:
  - ./gradlew compileJava -x check --no-daemon

buildByWebpack:
  stage: build
  image: openjdk:8-jdk-stretch
  script:
  - apt-get install -y --no-install-recommends curl unzip
  - apt-get update && apt-get install -y --no-install-recommends --allow-unauthenticated gcc make libpng-dev
  - ./gradlew webpack -Pprod -x check -PnodeInstall --no-daemon

testRegular:
  stage: test
  image: openjdk:8-jdk-stretch
  services:
  - postgres:10.4
  variables:
    POSTGRES_DB: totoro
    POSTGRES_USER: totoro
    POSTGRES_PASSWORD: totoro
  script:
  - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/totoro ./gradlew test --no-daemon
  artifacts:
    paths:
    - build/reports/tests/*
  ...

Using token
  .gitlab-ci.yml
Due: none

Using location
  .gitlab-ci.yml
Due: none

Using output
  .gitlab-ci.yml
Due: none

refined with helper
  web/src/container/AppointmentPage/CreateAppModal.js
  web/src/container/AppointmentPage/EditAppModal.js
  web/src/container/AppointmentPage/utils/convertAppsToEvt.js
  web/src/container/AppointmentPage/utils/handleEventRender.js
  web/src/container/PatientPage/PatientDetailHeader.js
  web/src/container/RegistrationPage/RegistDrawer.js
  web/src/container/RegistrationPage/utils/convertToTableSource.js
  web/src/container/SmsPage/AppointmentsModal.js
  web/src/container/SmsPage/EventEditing.js
  web/src/utils/patientHelper.js
Due: checkLint, buildByWebpack

refined tags
  web/src/container/AppointmentPage/utils/handleEventRender.js
  web/src/container/QuestionnairePage/constant_options.js
Due: checkLint, buildByWebpack

remove conflict
  web/src/container/QuestionnairePage/constant_options.js
Due: checkLint, buildByWebpack

Test split cicd
  .gitlab-ci.yml
Due: none

Modify external artifact source
  .gitlab-ci.yml
Due: none

Modify flow of building war
  .gitlab-ci.yml
Due: none

Modify unzip cli
  .gitlab-ci.yml
Due: none

Ignore node install
  .gitlab-ci.yml
Due: none

Ignore prod gradle
  .gitlab-ci.yml
Due: none

Trim ci for test
  .gitlab-ci.yml
Due: none

Test with new job
  .gitlab-ci.yml
  gradle/profile_prod.gradle
  web/package-lock.json
Due: checkLint, buildByWebpack

Test with new job
  .gitlab-ci.yml
Due: none

try to fix auto search input on safari
  web/src/container/AppointmentPage/CreateAppModal.js
Due: checkLint, buildByWebpack

Unzip web artifact into wrong location
  .gitlab-ci.yml
Due: none

Trim flow to splited version
  .gitlab-ci.yml
Due: none

Fix sytax
  .gitlab-ci.yml
Due: none

Add init version json
  rel.version.json
  stg.version.json
Due: none

Remove web static file upload job
  .gitlab-ci.yml
Due: none

Add infection examination code
  src/main/resources/config/liquibase/changelog/migrationXml/20210111_weichen.xml
  src/main/resources/config/liquibase/master_timeline.xml
Due: buildByGradle, testRegular

Fix duplicate procedure code
  src/main/resources/config/liquibase/changelog/migrationXml/20210111_weichen.xml
Due: buildByGradle, testRegular

fix onSwipedUp
  web/src/container/QuestionnairePage/index.js
Due: checkLint, buildByWebpack

Add timestamp
  rel.version.json
  stg.version.json
Due: none

Modify field
  rel.version.json
  stg.version.json
Due: none

fix teeth undefined
  web/src/container/PatientPage/utils/convertTreatmentProcedureToTableObject.js
  web/src/container/PatientPage/utils/toSurfaceAbbrivation.js
Due: checkLint, buildByWebpack

Download totoro-web's artifact by totoro-version defined version
  .gitlab-ci.yml
Due: none

Remove list directory while build stage
  .gitlab-ci.yml
Due: none

Fix ci if-else syntax
  .gitlab-ci.yml
Due: none

Test multiple line yaml to use if-else in script
  .gitlab-ci.yml
Due: none

Fix if-else syntax
  .gitlab-ci.yml
Due: none

Fix quotes
  .gitlab-ci.yml
Due: none

Path conditions:
  checkLint: any of: web/**/*
  buildByGradle: any of: src/**/*
  buildByWebpack: any of: web/**/*
  testRegular: any of: src/**/*
